{% extends 'base.html' %}

{% block title %}Restaurant Detail - {{ restaurant.name }}{% endblock %}

{% block body_title %}{{ restaurant.name }}{% endblock %}
{% block body_subheading %}Restaurant Detail{% endblock %}

{% block content %}

<h3>Menus</h3>
  {% if not restaurant.menu_set.all %}
<p>This restaurant does not have any menus.</p>
  {% else %}
<ul>
    {% for menu in restaurant.menu_set.all %}
  <li><a href="{% url 'menus:menu_detail' restaurant_slug=restaurant.slug menu_slug=menu.slug %}">{{ menu.name }}</a></li>
    {% endfor %}
</ul>
  {% endif %}

	{% if user.is_authenticated and user in restaurant.admin_users.all %}
<div class="auth-links">
	<p><a href="{% url 'menus:menu_create' restaurant_slug=restaurant.slug %}">Add New Menu</a></p>
</div>
	{% endif %}

<div id="bottom-links">
  <p><a href="{% url 'restaurants:restaurant_list' %}">Return to Restaurant List</a></p>
</div>

{% endblock content %}
