{% extends 'base.html' %}

{% block title %}Restaurant Detail - {{ restaurant.name }}{% endblock %}

{% block body_title %}{{ restaurant.name }}{% endblock %}
{% block body_subheading %}Restaurant Detail{% endblock %}


{% block content %}

<h4>Menus</h4>
  {% if not restaurant.menu_set.all %}
<p>This restaurant does not have any menus.</p>
  {% else %}
<ul>
    {% for menu in restaurant.menu_set.all %}
  <li><a href="{% url 'menus:menu_detail' restaurant_slug=restaurant.slug menu_slug=menu.slug %}">{{ menu.name }}</a></li>
    {% endfor %}
</ul>
  {% endif %}

  {% if user.is_authenticated and user in restaurant.admin_users.all %}
<div class="auth-links">
  <p><a href="{% url 'menus:menu_create' restaurant_slug=restaurant.slug %}">Add new menu</a></p>
  <p class="pt-3"><a href="{% url 'restaurants:restaurant_update' restaurant_slug=restaurant.slug %}">Update this restaurant's information</a></p>
  <p><a class="text-danger" href="{% url 'restaurants:restaurant_delete' restaurant_slug=restaurant.slug %}">Delete this restaurant</a></p>
</div>
  {% endif %}

<div id="bottom-links">
  {% if user.restaurant_set.count %}
  <p><a href="{% url 'restaurants:restaurant_list' %}">View your restaurants</a></p>
  {% endif %}
  <p><a href="{% url 'restaurants:restaurant_list' %}">View all restaurants</a></p>
</div>

{% endblock content %}
