{% extends 'base.html' %}

{% block title %}Restaurant List{% endblock %}

{% block body_title %}Restaurant List{% endblock %}

{% block content %}

{% if not restaurants %}
<p>There are no restaurants in the database.</p>
{% elif restaurants %}

<ul>
    {% for restaurant in restaurants %}
  <li><a href="{% url 'restaurants:restaurant_detail' restaurant_slug=restaurant.slug %}">{{ restaurant.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
<div class="auth-links">
  <p><a href="{% url 'restaurants:restaurant_create' %}">Register a new restaurant</a></p>
</div>
{% endif %}

{% endblock content %}
