{% extends 'base.html' %}

{% block title %}Restaurant Detail - {{ restaurant.name }}{% endblock %}

{% block body_title %}{{ restaurant.name }}{% endblock %}

{% block body_subheading_wrapper %}
  {% with body_subheading_text="Menus" body_subheading_tags="pb-4 text-center" %}
    {{ block.super }}
  {% endwith %}
{% endblock body_subheading_wrapper %}

{% block content %}

  {% if not restaurant.menu_set.all %}
<p>This restaurant does not have any menus.</p>
  {% else %}

    {% for menu in restaurant.menu_set.all %}
  <div class="mt-2" id="accordion">
    <div class="card">
      <div class="card-header {% if not menu.menusection_set.count %}bg-warning{% endif %}" id="headingMenu{{ forloop.counter }}">
        <div class="text-center" style="margin-top: 0.3em;">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMenu{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseCoursesAndCertificates">
            <h5 class="font-weight-bold text-dark">{{ menu.name }}

      {% if user in restaurant.admin_users.all and not request.GET.view_as_customer == '1' %}
          {% if not menu.menusection_set.count %}(Empty){% endif %}
            (<a href="{% url 'menus:menu_detail' restaurant_slug=restaurant.slug menu_slug=menu.slug %}">Edit this menu</a>)
      {% endif %}</h5>
          </button>
        </div>
      </div>
      {% if menu.menusection_set.count %}
      <div id="collapseMenu{{ forloop.counter }}" class="collapse" aria-labelledby="headingMenu{{ forloop.counter }}" data-parent="#accordion">
        <div class="card-body">

        {% for menusection in menu.menusection_set.all %}
        <h2 class="pt-2 text-center"><a class="text-dark" href="{% url 'menus:menusection_detail' restaurant_slug=restaurant.slug menu_slug=menu.slug menusection_slug=menusection.slug %}">{{ menusection.name }}</a></h2>

          {% if menusection.menuitem_set.count %}

          <ul class="pt-2 pb-4">
            {% for menuitem in menusection.menuitem_set.all %}
            <li><a class="text-dark font-weight-bold" href="{% url 'menus:menuitem_detail' restaurant_slug=restaurant.slug menu_slug=menu.slug menusection_slug=menusection.slug menuitem_slug=menuitem.slug %}">{{ menuitem.name }}</a> - {{ menuitem.description }}</li>
            {% endfor %}
          </ul>

          {% elif not menusection.menuitem_set.count %}
          <p class="text-center font-weight-bold">This section does not have any items.</p>
          {% endif %}

        {% endfor %}

        </div>
      </div>
      {% endif %}
    </div>
  </div>
    {% endfor %}

  {% endif %}

  {% if user.is_authenticated and user in restaurant.admin_users.all and not request.GET.view_as_customer == '1' %}
<div class="auth-links">
  <p><a href="{% url 'menus:menu_create' restaurant_slug=restaurant.slug %}">Add new menu</a></p>
  <p><a href="{{ request.path }}?view_as_customer=1">View as customer</a></p>
  <p class="pt-3"><a href="{% url 'restaurants:restaurant_update' restaurant_slug=restaurant.slug %}">Update this restaurant's information</a></p>
  <p><a class="text-danger" href="{% url 'restaurants:restaurant_delete' restaurant_slug=restaurant.slug %}">Delete this restaurant</a></p>
</div>
  {% endif %}

<div id="bottom-links">

  {% if request.GET.view_as_customer == '1' %}
  <p><a href="{{ request.path }}">View as owner</a></p>
  {% endif %}

  {% if user.restaurant_set.count and not request.GET.view_as_customer == '1' %}
  <p><a href="{% url 'restaurants:restaurant_list' %}">View your restaurants</a></p>
  <p><a href="{% url 'restaurants:restaurant_list' %}">View all restaurants</a></p>
  {% endif %}
</div>

{% endblock content %}
