[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
ipython = "*"
Pillow = "*"
gunicorn = "*"
django-crispy-forms = "*"
django-simple-captcha = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
