[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
ipython = "*"
Pillow = "*"
gunicorn = "*"
django-crispy-forms = "*"
django-simple-captcha = "*"
djangorestframework = "*"
factory-boy = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-timezone-field = "*"
django-cors-headers = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.7"
