{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block body_title %}Password Reset Sent{% endblock %}

{% block content %}

<p>If you have entered a valid email address, we have sent a reset link to that email address.</p>
<p>Please check your email inbox to finish resetting your password.</p>

<div id="bottom-links">
    <p><a href="{% url 'users:login' %}">Return to Login</a></p>
    <p><a href="{% url 'root' %}">Return to {{ PROJECT_NAME }} homepage</a></p>
</div>
{% endblock content %}
