/* base */

ul {
  list-style-type: '- ';
}

.underline {
  text-decoration: underline;
}

.project-theme {
  background-color: #DC3545;
}

.auth-links {
  margin-top: 3em;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

/* forms */

.form {
  margin-top: 1.5em;
}

.form-buttons {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.message {
  margin-bottom: 1.5em;
}

.form-submit-button {
  margin-right: 5px;
}

#body-title {
  margin-bottom: 0;
}

/* content */

#body-subheading {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#content {
  margin-top: 1.5em;
}

#bottom-links {
  margin-top: 2.5em;
  font-weight: bold;
  font-size: 1.1rem;
}

/* restaurants */

.item-img {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 80%;
  max-height: 500px;
  height: auto;
  max-height: 33vh;
  border-radius: 2rem;
}
