.auth-links {
  margin-top: 2em;
}

.form {
  margin-top: 2em;
}

.form-buttons {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.message {
  margin-bottom: 1.5em;
  border-radius: 7px;
}

.form-submit-button {
  margin-right: 5px;
}

#body-title {
  margin-bottom: 0;
}

#body-subheading {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#content {
  margin-top: 2em;
}

#bottom-links {
  margin-top: 2.5em;
  font-weight: bold;
  font-size: 1.1rem;
}

