ul {
  list-style-type: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex-grow: 1;
  margin-top: 1.5rem;
}

#bottom-links {
  margin: 2.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.auth-links {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer {
  align-self: flex-end;
  width: 100%;
  background-color: #f5f5f5;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}


/* misc */

.underline {
  text-decoration: underline;
}

.project-theme {
  background-color: #DC3545;
}


/* forms */

.form {
  margin-top: 1.5rem;
}

.form-buttons {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.message {
  margin-bottom: 1.5rem;
}

.form-submit-button {
  margin-right: 5px;
}



/* restaurants */

.restaurant-img, .menu-img {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 80%;
  height: auto;
  max-height: 25vh;
  border-radius: 2rem;
}

.restaurant-menu-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.menusection-img {
  display: block;
  object-fit: cover;
  margin: auto;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}
