.auth-links {
  margin-top: 2em;
}

.form-submit-button {
  float: left;
  margin-right: 5px;
}

#body-title {
  margin-bottom: 0;
}

#body-subheading {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#content {
  margin-top: 2em;
}

#bottom-links {
  margin-top: 2em;
  font-weight: bold;
  font-size: 1.2rem;
}

.message {
  max-width: 50%;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em;
  background-color: #ddd;
  border-radius: 10px;
  border: 2px solid black;
}
