.auth-links {
  margin-top: 2em;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.form {
  margin-top: 1.5em;
}

.form-buttons {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.message {
  margin-bottom: 1.5em;
}

.form-submit-button {
  margin-right: 5px;
}

.underline {
  text-decoration: underline;
}

#body-title {
  margin-bottom: 0;
}

#body-subheading {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#content {
  margin-top: 2em;
}

#bottom-links {
  margin-top: 2.5em;
  font-weight: bold;
  font-size: 1.1rem;
}
