.top-nav-item {
  padding: 0 10px;
  font-weight: bold;
}

#body-title {
  margin-bottom: 0;
}

#body-subheading {
  margin-top: 0.25em;
}

#content {
  margin-top: 2em;
}

#bottom-links {
  margin-top: 3em;
  font-weight: bold;
  font-size: 1.2rem;
}

.message-box {
}

.message {
  max-width: 50%;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em;
  background-color: #ddd;
  border-radius: 10px;
  border: 2px solid black;
}
