{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body_title %}Login{% endblock %}

{% block content %}

<p>Please enter your login details:</p>

{% with submit_text="Login" %}
  {% include 'base_form.html' %}
{% endwith %}

<div id="bottom-links">
  <p><a href="{% url 'users:register' %}">Register a new account</a></p>
  <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
  <p class="pt-4"><a href="{% url 'root' %}">Return to {{ PROJECT_NAME }} homepage</a></p>
</div>

{% endblock %}
