{% extends 'base.html' %}

{% block title %}Register New User{% endblock %}

{% block body_title %}Register New User{% endblock %}

{% block content %}

<p>Please enter your account information:</p>

{% with submit_text="Register" %}
  {% include 'base_form.html' %}
{% endwith %}

<div id="bottom-links">
  <p><a href="{% url 'users:login' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% elif request.path != '/' and '/register/' not in request.path and '/login/' not in request.path %}?next={{ request.path }}{% endif %}">Login to an existing account</a></p>
  <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
</div>

{% endblock content %}
