{% extends 'base.html' %}

{% block title %}{{ action_verb }} Menu - {{ restaurant.name }}{% endblock %}

{% block body_title %}{{ restaurant.name }}{% endblock %}
{% block body_subheading %}{{ action_verb }} Menu{% if menu %}: '{{ menu.name }}'{% endif %}{% endblock %}

{% block content %}

<p>Please enter the information for {% if menu%}'{{ menu.name }}'{% else %}your menu{% endif %}:</p>

{% include 'base_form.html' %}

<div id="bottom-links">
  {% if object %}
  <p><a href="{% url 'menus:menu_detail' restaurant_slug=object.restaurant.slug menu_slug=object.slug %}">Return to Menu: {{ object.name }}</a></p>
  {% endif %}
  <p><a href="{% url 'restaurants:restaurant_detail' restaurant_slug=restaurant.slug %}">Return to Restaurant: {{ restaurant.name }}</a></p>
</div>

{% endblock content %}
