{% extends 'base.html' %}

{% block title %}Delete Menu - {{ menu.name }} - {{ menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menu.restaurant.name }} - {{ menu.name }}{% endblock %}
{% block body_subheading %}Delete Menu: '{{ menu.name }}'{% endblock %}

{% block content %}

<p>Are you sure you want to delete the '{{ menu.name }}' menu?</p>

{% with submit_text="Delete" submit_button_class="danger" confirm_text="Yes, I want to permanently delete this menu." confirm_text_class="danger" %}
  {% include 'base_form.html' %}
{% endwith %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menu_detail' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Return to menu: {{ menu.name }}</a></p>
</div>

{% endblock content %}
