{% extends 'base.html' %}

{% block title %}Menu: {{ menusection.menu.restaurant.name }} - {{ menusection.menu.name }}: {{ menusection.name }}{% endblock %}

{% block body_title %}<a class="text-dark" href="{% url 'restaurants:restaurant_detail' restaurant_slug=menusection.menu.restaurant.slug %}">{{ menusection.menu.restaurant.name }}</a>{% endblock %}
{% block body_subheading %}<a class="text-dark" href="{% url 'menus:menu_detail' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug %}">{{ menusection.menu.name }}</a>{% endblock %}

{% block content %}

<h2 class="pb-2">{{ menusection.name }}</h2>

{% if not menusection.menuitem_set.count %}
<p>This section has no items.</p>
{% else %}

<ul>
  {% for menuitem in menusection.menuitem_set.all %}
  <li><a class="text-dark font-weight-bold" href="{% url 'menus:menuitem_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menusection.slug menuitem_slug=menuitem.slug %}">{{ menuitem.name }}</a> - {{ menuitem.description }}</li>
  {% endfor %}
</ul>

{% endif %}

{% if user.is_authenticated and user in menusection.menu.restaurant.admin_users.all %}
<div class="auth-links">
  <p><a href="{% url 'menus:menuitem_create' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug menusection_slug=menusection.slug %}">Add new menu item</p>
  <br>
  <p><a href="{% url 'menus:menusection_update' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug menusection_slug=menusection.slug %}">Edit this menu section</p>
  <p><a class="text-danger" href="{% url 'menus:menusection_delete' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug menusection_slug=menusection.slug %}">Delete this menu section</p>
</div>
{% endif %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menu_detail' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug %}">Return to menu: {{ menusection.menu.name }}</a></p>
  <p><a href="{% url 'restaurants:restaurant_detail' restaurant_slug=menusection.menu.restaurant.slug %}">Return to restaurant: {{ menusection.menu.restaurant.name }}</a></p>
</div>

{% endblock content %}
