{% extends 'base.html' %}

{% block title %}{{ menuitem.menusection.menu.name }} Menu - {{ menuitem.name }} - {{ menuitem.menusection.menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menuitem.menusection.menu.restaurant.name }}{% endblock %}
{% block body_subheading %}{{ menuitem.menusection.menu.name }} Menu: '{{ menuitem.name }}'{% endblock %}

{% block content %}

<p><strong>Menu:</strong> {{ menuitem.menusection.menu.name }}</p>
<p><strong>Section:</strong> {{ menuitem.menusection.name }}</p>

<br>
<p><strong>Name:</strong> {{ menuitem.name }}</p>
<p><strong>Description:</strong> {{ menuitem.description }}</p>
<br>

{% if user.is_authenticated and user in menuitem.menusection.menu.restaurant.admin_users.all %}
<div class="auth-links">
  <p><a href="{% url 'menus:menuitem_update' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug menuitem_slug=menuitem.slug %}">Edit This Item</p>
  <p><a class="text-danger" href="{% url 'menus:menuitem_delete' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug menuitem_slug=menuitem.slug %}">Delete This Item</p>
</div>
{% endif %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menusection_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug %}">Return to Menu Section: {{ menuitem.menusection.menu.name }}</a></p>
</div>

{% endblock content %}
