{% extends 'base.html' %}

{% block title %}{{ action_verb }} Menu Item - {{ menusection.menu.name }} - {{ menusection.menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menusection.menu.restaurant.name }} - {{ menusection.menu.name }}{% endblock %}
{% block body_subheading %}{{ action_verb }} Menu Item{% if menuitem %}: '{{ menuitem.name }}'{% endif %}{% endblock %}

{% block content %}

<p>Please enter the information for {% if menuitem %}'{{ menuitem.name }}'{% else %}your menu item{% endif %}:</p>

{% include 'base_form.html' %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menusection_detail' restaurant_slug=menusection.menu.restaurant.slug menu_slug=menusection.menu.slug menusection_slug=menusection.slug %}">Return to menu section: {{ menusection.name }}</a></p>
</div>

{% endblock content %}
