{% extends 'base.html' %}

{% block title %}{{ action_verb }} Menu Section - {{ menu.name }} - {{ menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menu.restaurant.name }} - {{ menu.name }}{% endblock %}
{% block body_subheading %}{{ action_verb }} Menu Section{% endblock %}

{% block content %}

<p>Please enter the information for {% if menusection %}'{{ menusection.name }}'{% else %}your menu section{% endif %}:</p>

{% with form_contains_image=True %}
  {% include 'base_form.html' %}
{% endwith %}

<div id="bottom-links">
  {% if object %}
  <p><a href="{% url 'menus:menusection_detail' restaurant_slug=object.menu.restaurant.slug menu_slug=object.menu.slug menusection_slug=object.slug %}">Return to Section: {{ object.name }}</a></p>
  {% endif %}
  <p><a href="{% url 'menus:menu_detail' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Return to Menu: {{ menu.name }}</a></p>
</div>

{% endblock content %}
