{% extends 'base.html' %}

{% block title %}{{ menuitem.menusection.menu.name }} Menu - {{ menuitem.name }} - {{ menuitem.menusection.menu.restaurant.name }}{% endblock %}

{% block body_title %}<a class="text-dark" href="{% url 'restaurants:restaurant_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug %}">{{ menuitem.menusection.menu.restaurant.name }}</a>{% endblock %}
{% block body_subheading %}<a class="text-dark" href="{% url 'menus:menu_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug %}">{{ menuitem.menusection.menu.name }}</a>{% endblock %}

{% block content %}

<h2 class="pb-2">{{ menuitem.name }}</h2>

<p><strong>Description:</strong> {{ menuitem.description }}</p>

{% if user.is_authenticated and user in menuitem.menusection.menu.restaurant.admin_users.all %}
<div class="auth-links">
  <p><a href="{% url 'menus:menuitem_update' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug menuitem_slug=menuitem.slug %}">Edit this item</p>
  <p><a class="text-danger" href="{% url 'menus:menuitem_delete' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug menuitem_slug=menuitem.slug %}">Delete this item</p>
</div>
{% endif %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menusection_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug %}">Return to Section: {{ menuitem.menusection.name }}</a></p>
  <p><a href="{% url 'menus:menusection_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug %}">Return to Menu: {{ menuitem.menusection.menu.name }}</a></p>
  <p><a href="{% url 'restaurants:restaurant_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug %}">Return to Restaurant: {{ menuitem.menusection.menu.restaurant.name }}</a></p>
</div>

{% endblock content %}
