{% extends 'base.html' %}

{% block title %}Create Menu Section - {{ menu.name }} - {{ menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menu.restaurant.name }} - {{ menu.name }}{% endblock %}
{% block body_subheading %}Create Menu Section{% endblock %}

{% block content %}

<p>Please enter the information for your new menu section:</p>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<div id="bottom-links">
      <p><a href="{% url 'menus:menu_detail' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Return to Menu</a></p>
</div>

{% endblock content %}
