{% extends 'base.html' %}

{% block title %}{{ menu.restaurant.name }} - {{ menu.name }} - Menu Detail{% endblock %}

{% block body_title %}{{ menu.restaurant.name }}{% endblock %}
{% block body_subheading %}Menu: {{ menu.name }}{% endblock %}

{% block content %}

<h3>Sections</h3>
{% if not menu.menusection_set.count %}
<p>This menu does not have any sections.</p>
{% else %}
<ul>
  {% for menusection in menu.menusection_set.all %}
  <li><a href="{% url 'menus:menusection_detail' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug menusection_slug=menusection.slug %}">{{ menusection.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated and user in menu.restaurant.admin_users.all %}
<div class="auth-links">
  <p><a href="{% url 'menus:menusection_create' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Add new section</p>
  <br>
  <p><a href="{% url 'menus:menu_update' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Edit this menu</p>
  <p><a class="text-danger" href="{% url 'menus:menu_delete' restaurant_slug=menu.restaurant.slug menu_slug=menu.slug %}">Delete this menu</p>
</div>
{% endif %}

<div id="bottom-links">
<p><a href="{% url 'restaurants:restaurant_detail' restaurant_slug=menu.restaurant.slug %}">Return to {{ menu.restaurant.name }}</a></p>
</div>

{% endblock content %}
