{% extends 'base.html' %}

{% block title %}Delete Menu Item - {{ menuitem.menusection.menu.name }} - {{ menuitem.menusection.menu.restaurant.name }}{% endblock %}

{% block body_title %}{{ menuitem.menusection.menu.restaurant.name }} - {{ menuitem.menusection.menu.name }}{% endblock %}
{% block body_subheading %}Delete Menu Item: '{{ menuitem.name }}'{% endblock %}

{% block content %}

<p>Are you sure you want to delete '{{ menuitem.name }}' from the '{{ menuitem.menusection.menu.name }}: {{ menuitem.menusection.name }}' menu?</p>

{% with submit_text="Delete" submit_button_class="danger" confirm_text="Yes, I want to permanently delete this menu item." %}
  {% include 'base_form.html' %}
{% endwith %}

<div id="bottom-links">
  <p><a href="{% url 'menus:menuitem_detail' restaurant_slug=menuitem.menusection.menu.restaurant.slug menu_slug=menuitem.menusection.menu.slug menusection_slug=menuitem.menusection.slug menuitem_slug=menuitem.slug %}">Return to menu item: {{ menuitem.name }}</a></p>
</div>

{% endblock content %}
