{% load crispy_forms_tags %}
<form class="form" method="post"{% if form_contains_image %} enctype="multipart/form-data"{% endif %}>

{% csrf_token %}

  {% for field in form %}
  <div class="fieldWrapper mt-2 mb-4">
    <p>{{ field|as_crispy_field }}</p>
  </div>
  <hr>
  {% endfor %}

  {% if confirm_text %}
  <div class="mt-3 alert alert-{% if confirm_text_style %}{{ confirm_text_style }}{% else %}info{% endif %}" role="alert">
    <label class="mb-0"><input type="checkbox" id="confirm_checkbox" name="confirm_checkbox" value="1" required>&nbsp;&nbsp;{{ confirm_text|safe }}</label>
  </div>
  {% endif %}

  <div class="form-buttons mt-5">
    <span><button class="btn btn-{% if submit_button_style %}{{ submit_button_style }}{% else %}success{% endif %} form-submit-button" type="submit">{% if submit_text %}{{ submit_text }}{% else %}Submit{% endif %}</button>

{% if cancel_url %}

    <a class="btn btn-secondary" href="{{ cancel_url }}">
      Cancel
    </a></span>

{% else %}

    <a class="btn btn-secondary" type="button" onclick="history.go(-1);">
      {% if cancel_text %}{{ cancel_text }}{% else %}Cancel{% endif %}
    </a></span>

{% endif %}

  </div>

<script>
document.addEventListener("keydown", function(event) {
  const key = event.key;
  if (key === "Escape") {
    history.go(-1);
  }
});
</script>

</form>
