{% load static %}<!DOCTYPE html>
<html lang="en-us">
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock style %}

    <title>{% block title %}{% endblock title %} - Menu Maker</title>

    {% block head_script %}{% endblock head_script %}

	</head>
	<body>

    <nav id="top-nav" style="float: right;">
      {% if not user.is_authenticated %}
      <span class="top-nav-item">Register</span>
      <span class="top-nav-item"><a href="{% url 'login' %}">Login</a></span>
      {% else %}
      <span class="top-nav-item">{{ user.username }}</span>
      <span class="top-nav-item"><a href="{% url 'logout' %}">Logout</a></span>
      {% endif %}
    </nav>

    <h1 id="body-title">{% block body_title %}{% endblock body_title %}</h1>
    <h2 id="body-subheading">{% block body_subheading %}{% endblock body_subheading %}</h2>

      {% if messages %}
    <div class="message-box">
        {% for message in messages %}
      <div class="message {% if message.tags %}{{ message.tags }}"{% endif %} style="margin-bottom: 1.5em;"><strong>{{ message|safe }}</strong></div>
        {% endfor %}
    </div>
      {% endif %}

    <div id="content">
      {% block content %}{% endblock content %}
    </div>

    {% block body_end_script %}{% endblock body_end_script %}
    
	</body>
</html>
