{% load static %}<!DOCTYPE html>
<html lang="en-us">
	<head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block style %}{% endblock style %}

    <title>{% block title %}{% endblock title %} - {{ PROJECT_NAME }}</title>

    {% block head_script %}{% endblock head_script %}

    <!-- Bootstrap Bundle -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </head>
  <body>
    <noscript><h4 class="text-center font-weight-bold">You have JavaScript disabled. Please enable it so this site can work properly.</h4></noscript>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4466FF;">
      <a class="navbar-brand ml-2" href="{% url 'root' %}">{{ PROJECT_NAME }}</a>
      <ul class="navbar-nav ml-auto">

    {% if user.is_authenticated %}

        <li class="nav-item active">
          <a class="nav-link" style="font-weight: normal;" title="View your user profile" href="{% url 'users:user_detail' %}">{{ user.username }}</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" style="font-weight: normal;" href="{% url 'users:logout' %}">Logout</a>
        </li>

    {% else %}

        <li class="nav-item active mr-2">
          <a class="nav-link" style="font-weight: normal;" href="{% url 'users:register' %}">Register</a>
        </li>

        <li class="nav-item active mr-2">
          <a class="nav-link" style="font-weight: normal;" href="{% url 'users:login' %}">Login</a>
        </li>

    {% endif %}
      </ul>
    </nav>

    <div id="content" class="container">

      {% block body_title_wrapper %}
      <h1 id="body-title" class="{% if body_title_tags %}{{ body_title_tags }}{% else %}text-center{% endif %}">
        {% block body_title %}
          {% if body_title_text %}{{ body_title_text }}{% endif %}
        {% endblock body_title %}
      </h1>
      {% endblock body_title_wrapper %}

      {% block body_subheading_wrapper %}
      <h4 id="body-subheading" class="{% if body_subheading_tags %}{{ body_subheading_tags }}{% else %}text-center{% endif %}">
        {% block body_subheading %}
          {% if body_subheading_text %}{{ body_subheading_text }}{% endif %}
        {% endblock body_subheading %}
      </h4>
      {% endblock body_subheading_wrapper %}

    {% if form.errors %}
      {% for error_field, error_message in form.errors.items %}
      <div class="alert alert-danger mb-4">
        <strong>Error: {{ error_message.0 }}</strong>
      </div>
      {% endfor %}
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %} alert-info{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} alert-warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger{% endif %} message mb-4"><strong>{{ message }}</strong></div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock content %}

    </div>
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}



    {% block body_end_script %}{% endblock body_end_script %}
    
  </body>
</html>
