{% load crispy_forms_tags %}
<form class="form" method="post">

{% csrf_token %}

  {% for field in form %}
  <div class="fieldWrapper">
    <p>{{ field|as_crispy_field }}</p>
  </div>
  {% endfor %}

  <div class="form-buttons">
    <span><button class="btn btn-{% if submit_button_class %}{{ submit_button_class }}{% else %}success{% endif %} form-submit-button" type="submit">{% if submit_text %}{{ submit_text }}{% else %}Submit{% endif %}</button>

{% if cancel_url %}

    <a class="btn btn-secondary" href="{{ cancel_url }}">
      Cancel
    </a></span>

{% else %}

    <a class="btn btn-secondary" type="button" onclick="history.go(-1);">
      {% if cancel_text %}{{ cancel_text }}{% else %}Cancel{% endif %}
    </a></span>

{% endif %}

  </div>

<script>
document.addEventListener("keydown", function(event) {
  const key = event.key;
  if (key === "Escape") {
    history.go(-1);
  }
});
</script>

</form>
